{% extends 'base_membre.html.twig' %}

{% block title %}Liste de mes emprunts{% endblock %}
{% block search %}{% endblock %}

{% block body %}
  <div class="text-center">
    <h1>Liste de mes emprunts</h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Nom du livre</th>
        <th>Auteur du livre</th>
        <th>Date de retour</th>
      </tr>
    </thead>
    <tbody>
      {% for emprunt in emprunts %}
        <tr>
          <td>{{ emprunt.emprunt.Livre.Titre }}</td>
          <td>{{ emprunt.emprunt.Livre.Auteur }}</td>
          <td>{{ emprunt.emprunt.Dateend|date('d/m/Y') }}
            {% if emprunt.retard == true %}
              <p class="text-danger">En retard</p>
            {% endif %}
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="3">Aucun résultat</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}