{% extends 'base.html.twig' %}

{% block title %}Listes des genres{% endblock %}

{% block body %}
  <div class="text-center">
    <h1>Listes des genres</h1>
    <a href="{{ path('genre_new') }}" class="btn btn-primary">Ajouter un genre</a>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for genre in genres %}
        <tr>
          <td>{{ genre.Titre }}</td>
          <td>
            <a href="{{ path('genre_edit', {'id': genre.id}) }}" class="btn btn-primary">Modifier</a>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="2">Aucun résultat</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
