<form method="post" action="{{ path('livre_delete', {'id': livre.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cet item ?');">
  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ livre.id) }}">
  <div class="text-center mt-2">
    <button class="btn btn-danger">Supprimer</button>
  </div>
</form>
