{% extends 'base.html.twig' %}

{% block title %}Modifier le livre{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-12  text-center">
      <h1>Modifier le livre</h1>
    </div>
    {{ include('livre/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <div class="text-center mt-2">
      <a href="{{ path('livre_index') }}">Retour à la liste</a>
    </div>
  </div>
  {{ include('livre/_delete_form.html.twig') }}
{% endblock %}
