.jumbotron {
    background: url('/assets/images/head.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid #005D85;
    border-bottom: 1px solid #005D85;
}

.bg-fade {
    background-color: rgba(10%, 10%, 10%, 0.7);
    padding: 2rem;
    border-radius: 15px;
}

.bg-lighten {
    background-color: rgba(90%, 90%, 90%, 0.7);
    padding-left: .5rem;
    border-radius: 5px;
    color: black;
}

.text-header {
    color: #fff;
}

.h-100 {
    height: 100%;
}

footer {
    max-height: 6em;
    display: block;
    margin-top: auto;
}

body {
    display: flex;
    flex-direction: column;
}

body {
    height: 100vh;
    margin: 0;
}

footer {
    background: #212529;
    color: whitesmoke;
}