<!DOCTYPE html>
{% set pathurl = app.request.requesturi %}

<html>
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}Site de la médiathèque{% endblock %}
      | Médiathèque de La Chapelle-Curreaux
    </title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% block flash_message %}

      {% for message in app.flashes('success') %}
        <div class="container-fluid position-absolute">
          <div class="row justify-content-center">
            <div class="alert alert-success w-auto mt-2" role="alert">
              {{ message|trans|raw }}
            </div>
          </div>
        </div>
      {% endfor %}
      {% for message in app.flashes('error') %}
        <div class="container-fluid position-absolute">
          <div class="row justify-content-center">
            <div class="alert alert-danger w-auto mt-2" role="alert">
              {{ message|trans|raw }}
            </div>
          </div>
        </div>
      {% endfor %}

    {% endblock %}
    {% block header %}{% endblock %}

    <div class="container my-4">
      {% block body %}{% endblock %}
    </div>
  </body>
  <footer class="container-fluid pt-3">
    <div class="row justify-content-between">
      <div class="col-sm text-center">
        <p>Petit text</p>
      </div>
    </div>
  </footer>
</html>
