{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base_membre.html.twig' %}

{% block title %}
  Erreur 404
{% endblock %}
{% block search %}{% endblock %}

{% block body %}
  <h1 class="text-center">Page non trouvé</h1>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">

        <a href="{{ path('home') }}" class="btn btn-primary-change">Retour à l'accueil</a>
      </div>
    </div>
  </div>
{% endblock %}