{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-12  text-center">
      <h1>Créer un nouvel utilisateur</h1>
    </div>
    {{ include('user/_form.html.twig') }}
    <div class="text-center mt-2">
      <a href="{{ path('user_index') }}">Retour à la liste</a>
    </div>
  </div>
{% endblock %}
